.titlebar {
  background-color: #729fcf;
  color: #DDF;
  color: #FA5;
  background-image:none;
  font-size: 1.4em;
  border: none;
  text-shadow: 1px 1px 2px black;
}

.titlebutton:hover {
  color: #E94;
  box-shadow: none;
  background-image:none;
  border: 1px solid #E94;
}

.titlebutton {
  color: #DDF;
  background-color: shade(#729fcf, 0.9);
  border: 1px solid #729fcf;
}